:root {
  --color-bg-body: #eeeeee;
  --color-bg-main: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-body);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
}
