.footer-wrapper {
  background-color: #ffffff;
  border-top: 1px solid gray;
  position: relative;
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 100px;
}

.footer-copyright {
}
