.content-wrapper {
  --height-navbar: 60px;
  --margin: 20px;
  --padding: 15px;
  --color-bg-content: #ffffff;
  --font-size: 10px;
  --nickname-color: #349fd9;

  background-color: inherit;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: var(--color-bg-content);
  border: 1px solid gray;
  border-radius: 5px;
  width: 70vw;
  height: 80vh;
  max-width: 900px;
  min-width: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ground_logo {
  cursor: pointer;
}

.sign-up-container {
  margin-top: 30px;
}

.sign-up-container > h3 {
  margin: 0 0 20px 3px;
}

.sign-up-form > button {
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  margin-top: 5px;
  padding-bottom: 3px;
  font-size: calc(var(--font-size) + 5px);
  cursor: pointer;
}

.sign-up-input {
  display: flex;
  align-items: center;
}

.sign-up-input > input {
  border: 1px solid gray;
  padding: var(--padding);
  width: 300px;
}

.sign-up-input:nth-child(1) > input {
  border-radius: 5px 5px 0 0;
}

.sign-up-input:nth-child(2) > input {
  margin-top: -1px;
}

.sign-up-input:nth-child(3) > input {
  border-radius: 0 0 5px 5px;
  margin-top: -1px;
}

.sign-up-input:nth-child(1) > input:focus,
.sign-up-input:nth-child(2) > input:focus,
.sign-up-input:nth-child(3) > input:focus {
  border-width: 2px;
}

.sign-up-error-text {
  margin: 0 0 20px 3px;
  color: red;
  font-size: 8px;
}

.social-sign-up {
  margin-top: 25px;
}

.social-sign-up > h3 {
  margin: 0 0 20px 3px;
}

.social-list {
  width: 300px;
  display: flex;
}

.welcome-page-wrapper {
  height: 50vh;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-page > div {
  font-size: 30px;
  display: flex;
}

.nickname {
  color: var(--nickname-color);
  margin-right: 10px;
}

.instructions {
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--color-bg-content);
  padding: 20px 100px;
  margin: 25px;
  min-width: 405px;
}

.instructions > p {
  font-size: calc(var(--font-size) + 2px);
  text-align: center;
}

.welcome-page > button {
  cursor: pointer;
  background-color: var(--nickname-color);
  color: var(--color-bg-content);
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  font-size: calc(var(--font-size) + 5px);
}

.confirm > svg {
  width: 70px;
  height: 70px;
  fill: var(--nickname-color);
  margin-bottom: 20px;
}
